.button {
    height: 44px;
    border-radius: 22px;
    min-width: 164px;
    padding: 10px 15px;
    border: 0;
    @include font-size(1.5);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transition: all .3s linear;
    display: inline-block;
    text-align: center;

    &:hover{
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    }

    &:active, &:focus{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
}