@charset 'UTF-8';

// Color-Scheme
$white-color: #fff;
$black-color: #3f4548;
$yellow-color: #f3b915;
$purple-color: #5e20e3;

$title-color: $white-color;
$text-color: $white-color;

// Fonts
$base-font-color: $text-color;
$base-font-size: 1.5;
$base-line-height: 2.6;
$base-font-family: Helvetica, Arial, sans-serif;

$breakpoints: ("xsmall" 576px, "small" 768px, "medium" 992px, "large" 1200px);

// Widths & Breakpoints
$max-wrapper-width: 1000px;
$max-cols: 12;
$gutter-width: 30px;
$prevent-spacing: 20px;

// Misc
$base-border-radius: 8px;
$rounded-border-radius: 50%;
$base-border-color: $white-color;
