h1,
h2,
h3,
h4,
h5 {
    font-family: 'Museo-Sans-Rounded';
    font-weight: 500;
    font-style: normal;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: manual;
}

h1 {
    @include font-size(3.6);
    @include line-height(3.8);
    margin-bottom: 50px; //10px ruimte in element zelf
    font-weight: 700;
}
