@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
  }
  
  @mixin line-height($sizeValue: 2.4) {
    line-height: ($sizeValue * 10) + px;
    line-height: $sizeValue + rem;
  }
  
  @mixin font-face($name, $url) {
      @font-face {
          font-family: #{$name};
          src: url('#{$url}.eot');
          src: url('#{$url}.eot#iefix') format("embedded-opentype"),
               url('#{$url}.ttf') format('truetype'),
               url('#{$url}.svg##{$name}') format('svg'),
               url('#{$url}.woff') format('woff');
     
          @content;
      }
  }
  
  @mixin icon($position: 'before', $icon: false) {
      &:#{$position} {
          @if $icon {
              content: match($icons, $icon);
          }
          @content;
      }
  }
  
  $breakpoints: false !default;
  
  @mixin respond-to($context, $operator: 'min-width') {
      @if $breakpoints != false {
        // Check to see if the 2nd item is a number. If it is, we've got a single query
        @if type-of(nth($breakpoints, 2)) == 'number' {
          // Check to see if the context matches the breakpoint namespace
          @if $context == nth($breakpoints, 1) {
            // Call Media Query Generator
            @include media-query-gen($breakpoints, $operator) {
              @content;
            }
          }
        }
        // Else, loop over all of them
        @else {
          // Loop over each breakpoint and check context
          @each $bkpt in $breakpoints {
            // If context is correct…
            @if $context == nth($bkpt, 1) {
              // Call the generator!
              @include media-query-gen($bkpt, $operator) {
                @content;
              }
            }
          }
        }
      }
    }
    
    // This functionality gets used twice so I turned it into its own mixin.
    
    @mixin media-query-gen($bpt, $operator: 'min-width') {
      // Get length of breakpoint variable, minus the namespace
      $length: length($bpt);
      // Go through all of the breakpoint items, starting at the second, and add them to a variable to be passed into the media query mixin
      $mq: false !default;
      @for $i from 2 through $length {
        // If it's the first item, override $mq
        @if $i == 2 {
          $mq: nth($bpt, $i);
        }
        // Else, join $mq
        @else {
          $mq: join($mq, nth($bpt, $i));
        }
      }
      // Call Media Query mixin
      @include media-query($mq, $operator) {
        @content;
      }
    }
    
    // Slightly modified version of my Media Query Mixin (https://gist.github.com/2490750) from earlier, modified to accommodate list input
    @mixin media-query($value, $operator: 'min-width', $query: 'screen') {
      // If a list is passed in for value, break it into value, operator, and query
      @if type-of($value) == 'list' {
        $mq: $value;
        
        @for $i from 1 through length($mq) {
          @if $i == 1 {
            $value: nth($mq, 1);
          }
          @else if $i == 2 {
            $operator: nth($mq, 2);
          }
          @else if $i == 3 {
            $query: nth($mq, 3);
          }
        }
      }
      
      @media #{$query} and (#{$operator}: #{$value}) {
        @content;
      }
  }
  
  @mixin maintain-ratio($ratio: 1 1) {
    $width: 100%;
    $height: percentage(nth($ratio, 2) / nth($ratio, 1));
    
    width: $width;
    height: 0;
    padding-bottom: $height;
  }


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}