@charset 'UTF-8';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-collapse: collapse;
    box-sizing: border-box;
    vertical-align: top;
    outline: none; 

    &:focus {
        text-decoration: none;
    }
}

html,
body,
#app {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white-color;
    color: $base-font-color;
    font-family: $base-font-family;
    @include font-size($base-font-size);
    @include line-height($base-line-height);

    background-image: url(../assets/img/logo.svg), url(../assets/img/background.jpg);
    background-position: center center, left top;
    background-repeat: no-repeat, repeat;
}
