<template>
  <div class="pokerTable">
    <Game />
  </div>
</template>

<script>
import Game from "@/components/Game.vue";

export default {
  name: "Poker",
  components: {
    Game
  },
  created () {
    console.log("Poker table set");
  }
};
</script>


