<template>
  <div class="chips">
    <h2>{{ owner.name }} ( {{ owner.chips }} )</h2>

    <div
      v-if="owner.humanPlayer"
      class="chips--bets"
    >
      <ul>
        <li
          v-for="betAmount in bets"
          :key="betAmount"
        >
          <input
            type="image"
            :src="getImage(betAmount)"
            :disabled="(betAmount > owner.chips) || (betAmount > chipsdealer)"
            @click="emitBetToPlayfield(betAmount)"
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Chips",
  props: {
    owner: {
      type: Object,
      default: () => { }
    },
    chipsdealer: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      bets: [1, 5, 25, 50, 100]
    }
  },
  created () {
    console.log("Chips from " + this.owner.name + " are stacked!");
  },
  methods: {
    emitBetToPlayfield (amount) {
      this.$emit("bet", amount);
    },
    getImage (amount) {
      return require(`@/assets/img/chips/${amount}.svg`)
    }
  }
};
</script>



<style lang="scss">
@import "../styles/configs";

.chips {
  width: 100%;

  &--bets {
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        list-style: none;
        padding: 5px;

        input {
          &:disabled {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
</style>

