<template>
  <div class="controls">
    <button
      v-if="cardsdealt === false"
      @click="emitPayAnte()"
    >
      Pay ante, shuffle and Play!
    </button>

    <button
      v-if="cardsdealt && potPaidOut === false"
      @click="emitFold()"
    >
      Fold hand
    </button>
    <button
      v-if="cardsdealt && humanplayerhand.discardedCards.length !== 0 && potPaidOut === false"
      @click="emitDiscard()"
    >
      Discard cards
    </button>
    <button
      v-if="cardsdealt && humanplayerhand.discardedCards.length === 0 && potPaidOut === false"
      @click="emitDetermineWinner()"
    >
      Determine Winner
    </button>
    <button
      v-if="potPaidOut"
      @click="emitNextHand()"
    >
      Next Hand
    </button>
  </div>
</template>

<script>

export default {
  name: "Controls",
  props: {
    humanplayerhand: {
      type: Object,
      default: () => { }
    },
    cardsdealt: {
      type: Boolean,
      default: false
    },
    potPaidOut: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    emitPayAnte () {
      this.$emit("pay-ante");
    },
    emitFold () {
      this.$emit("fold");
    },
    emitDiscard () {
      this.$emit("discard-cards");
    },
    emitDetermineWinner () {
      this.$emit("determine-winner");
    },
    emitNextHand () {
      this.$emit("next-hand");
    }
  }
}
</script>



<style lang="scss">
@import "../styles/configs";

.controls {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 200px;
  transform: translateY(-50%);

  button {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.3);
    background-color: $yellow-color;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
    }

    &:focus {
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5),
        inset 0px 5px 5px -5px rgba(0, 0, 0, 0.8);
    }
  }
}
</style>
