<template>
  <div class="current-hand">
    <ul>
      <li>Antepot: <span>{{ currentHand.antepot }}</span></li>
      <li>Pot: <span>{{ currentHand.pot }}</span></li>
      <li>Total: <span>{{ total }}</span></li>
    </ul>
  </div>
</template>

<script>

export default {
  name: "Controls",
  props: {
    currentHand: {
      type: Object,
      default: () => { }
    }
  },
  computed: {
    total () {
      return this.currentHand.antepot + this.currentHand.pot;
    }
  }
}
</script>



<style lang="scss">
@import "../styles/configs";

.current-hand {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 200px;
  transform: translateY(-50%);

  ul {
    li {
      list-style: none;
      span {
        display: block;
        font-weight: bold;
        @include font-size(2.4);
      }
    }
  }
}
</style>
