<template>
  <div class="deck">
    <ul>
      <li
        v-for="card in deck.filter(card => {return card.taken === false})"
        :key="card"
      >
        {{ card.name }} ({{ card.taken }}) ( value: {{ card.value }} )
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: "Deck",
  props: {
    deck: {
      type: Array,
      default: () => []
    }
  },
  created () {
    console.log("Deck created!");
  }
}
</script>


