<template>
  <div class="game">
    <Controls
      :humanplayerhand="getHumanPlayerHand()"
      :cardsdealt="currentHand.cardsDealt"
      :pot-paid-out="currentHand.potPaidOut"
      @pay-ante="payAnte()"
      @fold="foldHand()"
      @discard-cards="discardCards()"
      @determine-winner="determineWinner()"
      @next-hand="nextHand()"
    />
    <Playfield
      v-for="(player, index) in game.players"
      :key="index"
      :owner="player"
      :hand="getHand(player)"
      :chipsdealer="getChipsDealer(game.players)"
      :cardsdealt="currentHand.cardsDealt"
      @bet="bet"
      @discard="discardSingleCard"
    />
    <CurrentHand :current-hand="currentHand" />
  </div>
</template>

<script>
import DeckActions from "@/components/actions/DeckActions.vue";
import GameActions from "@/components/actions/GameActions.vue";
import ChipActions from "@/components/actions/ChipActions.vue";
import Controls from "@/components/Controls.vue";
import Playfield from "@/components/Playfield.vue";
import CurrentHand from "@/components/CurrentHand.vue";

export default {
  name: "Game",
  components: {
    Playfield,
    CurrentHand,
    Controls
  },
  mixins: [DeckActions, GameActions, ChipActions],
  data () {
    return {
      game: {
        deck: [],
        ante: 5,
        players: [
          {
            name: "Dealer",
            chips: 1000,
            id: 1,
            humanPlayer: false
          },
          {
            name: "Player01",
            chips: 5000,
            id: 2,
            humanPlayer: true
          }
        ]
      },
      currentHand: {
        hands: [
          {
            id: 1,
            cards: [{}, {}, {}, {}, {}],
            result: {},
            discardedCards: [],
            winner: null
          },
          {
            id: 2,
            cards: [{}, {}, {}, {}, {}],
            result: {},
            discardedCards: [],
            winner: null
          }
        ],
        pot: 0,
        antepot: 0,
        cardsDealt: false,
        potPaidOut: false

      }
    };
  },
  computed: {
  },
  created () {
    console.log("Poker game started");
    this.game = this.setupGame(this.game);
  },
  methods: {
    nextHand () {
      this.currentHand = this.resetCurrentHand();
      this.resetDeck();
    },
    getHumanPlayerHand () {
      let [player] = this.game.players.filter(function (player) {
        return player.humanPlayer === true;
      })
      let [hand] = this.currentHand.hands.filter(function (hand) {
        return hand.id === player.id;
      })
      return hand;
    },
    getHand (player) {
      let [hand] = this.currentHand.hands.filter(function (hand) {
        return hand.id === player.id;
      })
      return hand;
    },
    resetDeck () {
      this.game.deck = this.createDeckAction();
      this.$store.commit("setDeck", {
        deck: this.game.deck
      });
    },
    shuffleDeck () {
      this.game.deck = this.shuffleDeckAction(this.game.deck);
      this.$store.commit("setDeck", {
        deck: this.game.deck
      });
      this.dealCards();
    },
    payAnte () {
      if (this.currentHand.pot === 0) {
        console.log("All players pay ante");
        let result = this.payAnteAction(this.currentHand.pot, this.game.players, this.game.ante);

        this.currentHand.antepot = result.pot;
        this.game.players = result.players;
        this.shuffleDeck();
      } else {
        console.log("Antes already paid!");
      }
    },
    bet (value) {
      if (this.currentHand.antepot !== 0) {
        if (this.currentHand.cardsDealt !== false) {
          console.log("you are gonna pay " + value);
          let result = this.betAction(this.currentHand.pot, this.game.players, value);

          this.currentHand.pot = result.pot;
          this.game.players = result.players;

        }
        else {
          console.log("Deal the cards first..");

        }
      }
      else {
        console.log("Pay the antes first..");

      }
    },
    discardSingleCard (card, player_id) {
      let [hand] = this.currentHand.hands.filter(function (hand) {
        return hand.id === player_id;
      })

      let index = hand.discardedCards.indexOf(card);
      if (index !== -1) {
        hand.discardedCards.splice(index, 1);
      } else {
        hand.discardedCards.push(card);
      }
    },
    discardCards () {
      console.log("Discarding and dealing new cards..")
      let self = this;
      this.currentHand.hands.forEach(function (hand) {
        hand.discardedCards.forEach(function (discardedCard) {
          let index = hand.cards.indexOf(discardedCard);

          self.$set(hand.cards, index, self.getNewCardFromDeck(self.game.deck));
        })

        hand.result = self.scoreHandAction(hand);

      })
      this.determineWinner();
    },
    determineWinner () {
      console.log("Determine winner")

      let scores = []
      let tie = false;
      this.currentHand.hands.forEach(function (hand) {
        scores.push([hand.result.value, hand.id, hand.result.cards[0]]);
      });

      scores.sort(this.sortByScoreValue).reverse();
      if (scores[0][0] == scores[1][0]) {
        scores.sort(this.sortByCardValue).reverse();

        if (scores[0][2] == scores[1][2]) {
          tie = true;
        }
      }

      if (tie) {
        console.log("It's a TIE!");
        this.game.players = this.splitPot(this.currentHand.antepot, this.currentHand.pot, this.game.players);
      } else {
        console.log("player-id " + scores[0][1] + " wins!");

        this.game.players = this.payoutPot(scores[0][1], this.currentHand.antepot, this.currentHand.pot, this.game.players);
      }
      this.currentHand.hands = this.setWinner(scores[0][1], this.currentHand.hands);
      this.currentHand.potPaidOut = true;
    },

    sortByScoreValue (a, b) {
      if (a[0] === b[0]) {
        return 0;
      }
      else {
        return (a[0] < b[0]) ? -1 : 1;
      }
    },
    sortByCardValue (a, b) {
      if (a[2] === b[2]) {
        return 0;
      }
      else {
        return (a[2] < b[2]) ? -1 : 1;
      }
    },
    foldHand () {
      if (this.currentHand.antepot !== 0) {
        if (this.currentHand.cardsDealt !== false) {
          console.log("You are folding..");
          this.game.players = this.payAnteToDealer(this.currentHand.antepot, this.game.players);
          this.nextHand();
        }
      }
    },
    dealCards () {
      if (this.currentHand.antepot !== 0) {
        if (this.currentHand.cardsDealt === false) {
          console.log("Dealing the cards..");
          let result = this.dealCardsAction(this.game.deck, this.currentHand.hands, this.game.players);
          console.log(result);
          this.currentHand.hands = result.hands;
          this.game.deck = result.deck;
          this.currentHand.cardsDealt = true;

        } else {
          console.log("Cards have already been dealt..");
        }
      } else {
        console.log("Can't deal cards without antes being paid..");
      }
    }
  }

};
</script>


