<template>
  <div class="hand">
    <ul>
      <li
        v-for="(card, index) in hand.cards"
        :key="card"
        :class="{'hand--card': true, 'hand--card-discarded': hand.discardedCards.includes(card), ['card_'+index]: true, 'dealer': owner.humanPlayer !== true}"
        @click="emitDiscardCardToPlayfield(card)"
      >
        <img
          v-if="(owner.humanPlayer || owner.humanPlayer !== true && hand.winner !== null)"
          :src="require(`@/assets/img/cards/${card.url}`)"
        >
        <img
          v-else
          :src="require(`@/assets/img/cards/back.svg`)"
        >
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: "Hand",
  props: {
    owner: {
      type: Object,
      default: () => { }
    },
    hand: {
      type: Object,
      default: () => { }
    }
  },
  created () {
    console.log(this.hand);
  },
  methods: {
    emitDiscardCardToPlayfield (card) {
      if (this.owner.humanPlayer) {
        this.$emit("discard", card, this.owner.id);
      }
    },
    isEmpty (obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key))
          return false;
      }
      return true;
    }
  }
}
</script>


<style lang="scss">
@import "../styles/configs";

.hand {
  position: relative;
  padding: 0;
  ul {
    padding: 0;
  }
  &--card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    padding: 0;
    height: auto;
    list-style: none;

    &:hover {
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
      @for $i from 0 through 4 {
        &.card_#{$i} {
          transform: translateX(calc(-50% + (calc((#{$i} - 2) * 50px))))
            translateY(calc(-50% - 30px))
            rotate(calc((#{$i} - 2) * 5deg)) !important;
          &.dealer {
            transform: translateX(calc(-50% + (calc((#{$i} - 2) * -50px))))
              translateY(calc(-50% + 30px))
              rotate(calc((#{$i} - 2) * 5deg)) !important;
          }
        }
      }
    }

    &-discarded {
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
      @for $i from 0 through 4 {
        &.card_#{$i} {
          transform: translateX(calc(-50% + (calc((#{$i} - 2) * 50px))))
            translateY(calc(-50% - 30px))
            rotate(calc((#{$i} - 2) * 5deg)) !important;

          &.dealer {
            transform: translateX(calc(-50% + (calc((#{$i} - 2) * -50px))))
              translateY(calc(-50% + 30px))
              rotate(calc((#{$i} - 2) * 5deg)) !important;
          }
        }
      }
    }

    @for $i from 0 through 4 {
      &.card_#{$i} {
        transform: translateX(calc(-50% + (calc((#{$i} - 2) * 50px))))
          translateY(-50%)
          rotate(calc((#{$i} - 2) * 5deg));

        &.dealer {
          transform: translateX(calc(-50% + (calc((#{$i} - 2) * -50px))))
            translateY(-50%)
            rotate(calc((#{$i} - 2) * 5deg));
        }
      }
    }
  }
}
</style>

