<template>
  <div :class="{ playField: true, 'player1': owner.id === 1, 'player2': owner.id === 2}">
    <div class="playField--chips">
      <Chips
        :owner="owner"
        :chipsdealer="chipsdealer"
        @bet="emitBetToGame"
      />
    </div>

    <div class="playField--hand">
      <Hand
        v-if="cardsdealt"
        :owner="owner"
        :hand="hand"
        @discard="emitDiscardCardToGame"
      />
    </div>

    <div class="playField--result">
      <Result
        :result="hand.result"
        :owner="owner"
        :winner="hand.winner"
      />
    </div>
  </div>
</template>

<script>
import Chips from "@/components/Chips.vue";
import Hand from "@/components/Hand.vue";
import Result from "@/components/Result.vue";

export default {
  name: "Playfield",
  components: {
    Chips,
    Hand,
    Result
  },
  props: {
    cardsdealt: {
      type: Boolean,
      default: false
    },
    owner: {
      type: Object,
      default: () => { }
    },
    hand: {
      type: Object,
      default: () => { }
    },
    chipsdealer: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      result: []
    }
  },
  created () {
    console.log("Playfield from " + this.owner.name + " is ready!");
  },
  methods: {
    emitBetToGame (amount) {
      this.$emit("bet", amount);
    },

    emitDiscardCardToGame (card, player_id) {
      this.$emit("discard", card, player_id);
    }
  }
};
</script>


<style lang="scss">
@import "../styles/configs";

.playField {
  position: absolute;
  left: 20px;
  right: 20px;
  height: 200px;
  display: flex;

  &.player1 {
    top: 0;
  }
  &.player2 {
    bottom: 0;
  }

  &--chips {
    flex-grow: 1;
    margin: 5px;
  }
  &--hand {
    flex-grow: 2;
    margin: 5px;
  }
  &--result {
    flex-grow: 1;
    margin: 5px;
  }
}
</style>
