<template>
  <div class="result">
    <p v-if="(owner.humanPlayer || (owner.humanPlayer !== true && winner !== null)) && (isEmpty(result) !== true)">
      Result: {{ result.result }} ({{ getCard(result.cards) }})
      VALUE: {{ result.value }}
    </p>

    <h1 v-if="winner">
      Hand Won
    </h1>
    <h1 v-if="winner === false">
      Hand Lost
    </h1>
  </div>
</template>

<script>

export default {
  name: "Hand",
  props: {
    result: {
      type: Object,
      default: () => { }
    },
    owner: {
      type: Object,
      default: () => { }
    },
    winner: {
      type: Boolean,
      default: null
    }
  }, methods: {

    getCard (values = []) {
      let cards = "";
      const ranks = "2 3 4 5 6 7 8 9 10 J Q K A".split(" ");
      values.forEach(function (value) {
        cards += ranks[value];
      });
      return cards;
    },
    isEmpty (obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key))
          return false;
      }
      return true;
    }
  }
}
</script>


